@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,400");

* {
    box-sizing: border-box;
    margin: 0; 
}



body {
    margin: 0;
    font-family: 'Asap', 'Poppins', sans-serif;
    text-shadow: #000 0 0 10px;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    height: 100vh;
    background: #111;
    overflow: hidden; /* Evita el desbordamiento */
    max-width: 100%;
  
  @media (min-width: 1024px) {
    flex-direction: row;
    width:100% ;
  }
}

.item {
  position: relative;
  flex: calc(100vw / 6) 1 1;
  background-size: cover;
  overflow: hidden;
  filter: saturate(90%);
  transition: 1s;
}

.item:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(25deg, rgba(0,0,0,.9), rgba(0,0,0,0));
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  animation: borderPulse 5s infinite;
  
  @media (min-width: 1024px) {
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
}

.item:hover {
  flex-basis: 40%;
  filter: saturate(120%);
  
  @media (min-width: 1024px) {
    flex-basis: 75%;
  }
  
  .quote {
    opacity: 1;
    transform: translateX(0);
  }
}

.item:nth-child(1) {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-16-finish-select-202409-6-1inch-ultramarine_AV1?wid=5120&hei=2880&fmt=webp&qlt=70&.v=UXp1U3VDY3IyR1hNdHZwdFdOLzg1V0tFK1lhSCtYSGRqMUdhR284NTN4L28rSU1jVGx4VGxCNEFSdVNXdG1RdzJSc2VJb0FISFY1LzJCMlcyeCs0eEFUMngwVnJycmY0WkN2ZnNvOUpFNFY4aEdha0F6blFmTkM2c3RxTWJNZ2FFRnZ4QmRNWmQ0OCt3NmpBeisralBB&traceId=1");
  background-position: 50% 35%;
}

.item:nth-child(2) {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-16-finish-select-202409-6-1inch-teal_AV1?wid=5120&hei=2880&fmt=webp&qlt=70&.v=UXp1U3VDY3IyR1hNdHZwdFdOLzg1V0tFK1lhSCtYSGRqMUdhR284NTN4K05tOGV2bzRuYjBHQm9BRXF6V0NIa1pGQnBBWVp4a3ZSd0Y4NzlDUVE4dUJUU08xVXZOQlVmeWYva2RCcG9vcVVjb0pRV1BLWkpwS3lTdmpyVm9XVnRXVi9BOUVIMG00R2gwMHk0cXVORTFB&traceId=1");
  background-position: 46% 8%;
}

.item:nth-child(3) {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-16-pro-finish-select-202409-6-3inch-deserttitanium_AV1?wid=5120&hei=2880&fmt=webp&qlt=70&.v=eUdsd0dIb3VUOXdtWkY0VFUwVE8vbEdkZHNlSjBQRklnaFB2d3I5MW94Nm1neGR3bXRIczEyZHc4WTk0RkR4VCtvdWdQMWpIV2NFaHUyTjZvK3ozWmRJVUY1eklwSElSL2pyWFgySnpoc1RLa0ZJQjcvY2pnYVpRdGdHbzJQemdzTUJneFR6QWZGUkphUkd1a1VnbWdYNXFNVzc5YkZmK2I4YzJ4ZndkZUdj&traceId=1");
  background-position: 52% 8%;
}

.item:nth-child(4) {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-16-pro-finish-select-202409-6-9inch-blacktitanium_AV1?wid=5120&hei=2880&fmt=webp&qlt=70&.v=eUdsd0dIb3VUOXdtWkY0VFUwVE8vbEdkZHNlSjBQRklnaFB2d3I5MW94NlcvVjg4Q2h4WWRjcFAyYlBrM0N1bENUcEx1KzZ4TU5aSmJ4VzBKZWFPSGppOHgxUjM1bG1hRnArQXQ1elR1Rk1aY2JtS1MrU1lZNlNHUVFTemFCTi9Xejlzcm5MeVVheDQwZ0ZkTEM4WHJR&traceId=1");
  background-position: 45% 8%;
}

.item:nth-child(5) {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-15-model-unselect-gallery-2-202309_GEO_EMEA?wid=5120&hei=2880&fmt=webp&qlt=70&.v=aVFiZEF4WDEvUWJNSU5HRDg4cklnTGdzSmpObkZCM3MrNmJ5SkhESlNDZ2lGQTRGNnVYNjZ6NWNNT2RQbEdmK3ovdld4NkVCZ3JUZXJyZ1dUb1MwM0dKTG1lVWJJT2RXQWE0Mm9rU1V0V0JCV3NjNWl1UW9rVFRPUVBJRWJDd2NQb3R0UW1Yc3h6Um5aMXhHRitCYTBB&traceId=1");
  background-position: 45% 25%;
}

.item:nth-child(6) {
  background-image: url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-14-model-unselect-gallery-2-202303_GEO_EMEA?wid=5120&hei=2880&fmt=webp&qlt=70&.v=NjB6M3BqTGRudDZtakJrUG5tT2pHTGdzSmpObkZCM3MrNmJ5SkhESlNDZ1hBSXMwL2Jwdk9oTk42KzZHdTdNUXovdld4NkVCZ3JUZXJyZ1dUb1MwM0dKTG1lVWJJT2RXQWE0Mm9rU1V0V0IxZG1zQmhZY3FpN094bFJrYnF5eDR2azA1RzdtcFQ5a1dBaURTY0hJUEJB&traceId=1");
  background-position: 48% 2%;
}

.quote {
  position: absolute;
  color: #fff;
  bottom: 35%;
  left: 5rem;
  width: calc(100% - 10rem);
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);
  
  @media (min-width: 512px) {
    left: 15%;
    bottom: 35%;
    width: 20vw;
  }
  
  @media (min-width: 1024px) {
    left: 15%;
    bottom: 35%;
    width: 30vw;
  }
  
  p {
    position: relative;
    display: inline-block;
    margin-bottom: 1.7rem;
    font-size: 1.4rem;
    text-wrap: balance;
    font-style: italic;
    
    &:before, &:after {
      position: absolute;
      font-size: 5.5rem;
      opacity: .6;
    }
    
    &:before {
      content: "“";
      top: 4rem;
      left: -2rem;
      transform: translate(-100%, -100%);
    }
    
    &:after {
      content: "”";
      bottom: 2rem;
      right: -2rem;
      transform: translate(100%, 100%);
    }
  }
  
  span {
    position: absolute;
    bottom: -2rem;
    right: 0;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    transform: translate(4rem, 100%);
    
    &:before {
      content: "—";
      margin-right: .7rem;
    }
  }
}

@keyframes borderPulse{
  0%, 100% { border-color: rgba(204, 204, 204, 1); }
  25%, 75% { border-color: rgba(204, 204, 255, 0.9); }
  50% { border-color: rgba(204, 204, 255, 0.5); }
}